* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #91afff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.title {
  text-align: center;
  margin-top: 20px;
}
.container {
  padding: 30px 0;
  background-color: #9c91ff;
  position: relative;
  border-radius: 10px;
  width: 300px;
  margin: 5% auto;
  box-shadow: 2px 2px 8px black;
}
.text-input {
  background: transparent;
  color: white;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 15px;
}
.login-table {
  text-align: center;
  font-size: 23px;
}
.login-field {
  display: block;
  margin: 10px auto;
  text-align: center;
}
input {
  width: 270px;
  height: 30px;
}
.submit {
  margin-top: 25px;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  background-color: #638af3;
}
.submit:hover {
  cursor: pointer;
  background-color: rgb(2, 128, 247);
  color: white;
  font-weight: bold;
  transform: scale(1.05);
  transition: transform 0.3s, background-color 0.3s;
}

.recuperacao{
  margin-top: 20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.recuperacao a {
  text-decoration:none;
  color:black
}
.recuperacao a:hover{
  text-decoration:underline;
}
.recuperacao-senha{
  margin-bottom:10px;
}


.footer {
  text-align: center;
  font-weight: bold;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover {
  text-decoration: underline;
}
